.card2 {
    position: relative;
    max-width: 600px;
    min-height: 200px; /* <- change fixed height to min-height */
    margin: 1vh;
    padding: 2px 1px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out; /* smoother transition */
    border-radius: 15px;
    width: 100%;
    overflow: hidden; /* handle if content grows */
  }
  
  .card2:hover {
    min-height: 300px; /* expand height on hover */
  }
  

    .card2 .no-ind {
    /* position : relative; */
    width : 260px;
    height : 260px;

    top : -40%;
    left: 8px;
    /* box-shadow : 0 5px 20px rgba(0,0,0,0.2); */
    /* z-index : 1; */
  }

   .card2 .image img {
    max-width : 100%;
    border-radius : 15px;
  }

   .card2 .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;

    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;

  }


  .no-ind{
    box-shadow: inset 5px 5px 5px rgb(0 0 0 / 5%),
    inset -5px -5px 5px rgb(255 255 255 / 50%),
    5px 5px 15px rgb(0 0 0 / 5%),
    -5px -5px 15px rgb(255 255 255 / 50%);
  }

  .box2{
  position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: #e2e8f0;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: left;
    /*align-items: left; */
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    overflow: hidden;
    /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-box2{
  margin-top: 60%;
}

.card2 .box2 .content {
  padding: 20px;
  text-align: center;
}

 .card2 .box2 h2 {
  position: absolute;
  /* top: -10px; */
  right: 0;
  font-size: 8em;
  color: rgb(0 0 0 / 8%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  pointer-events: none;
  top: -4vh;
}

.card2:hover h2 {
  color: rgb(0 0 0 /50%);
  /* bottom: -10px; */
  transition: 1s ease-in-out;
    -webkit-transition: 1s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    top: -30px;
    right: 0;
    font-size: 2em;
    z-index: 222;
   /* margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s; */

}



.card2:hover .box{
  /* height: auto; */
    z-index: 11;
    opacity: 1;
   
    /* transform: scale(1.05); */
    height: 100%;
   
}

.p12{
  padding: 0.5vw;
}

.box2 {
  @apply bg-slate-200 text-stone-800 transition-colors duration-300;
}

.dark .box2 {
  @apply bg-slate-700 text-gray-100 transition-colors duration-300;
}